* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  padding: 0 10px;
}

.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 40rem;
  padding: 50px 20px;
  margin: 50px auto 0px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.285);
  gap: 25px;
}

#searchInput {
  width: 100%;
  padding: 15px 12px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.345);
  font-size: 16px;
}


.userContainer {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.userContainer .userItem {
  display: flex;
  gap: 25px;
  align-items: center;
  background-color: #faf8f8;
  padding: 8px 20px;
  border-radius: 8px;
  word-break: break-all;
}

.userContainer .userItem .userDetails {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.image {
  border-radius: 100%;
}

.userContainer .userItem img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  object-fit: cover;
  object-position: top;
}
